<div class="rounded-lg bg-white flex flex-col gap-5 justify-center" style="width: 350px; padding: 0 20px">
  <div class="flex flex-row justify-between items-center">
    <h1 class="text-2xl font-bold text-gray-800">Recupero</h1>
    <p-button (onClick)="cancel.emit()" [rounded]="true" [text]="true" icon="pi pi-times"/>
  </div>
  <p>Inserisci il tuo username</p>
  <p-floatlabel variant="on">
    <input
      [formControl]="usernameFc"
      autocomplete="off"
      class="w-full"
      id="username"
      pInputText/>
    <label for="username">Username</label>
    <p-message *ngIf="usernameFc.errors?.['email']" severity="error" size="small" variant="simple">Inserisci una mail
      valida
    </p-message>
  </p-floatlabel>
  <p class="italic text-xs">Riceverai una mail contenenti le istruzioni necessarie al cambio password.</p>
  <button (click)="emitRequest()"
          [disabled]="usernameFc.invalid"
          [pTooltip]="usernameFc.invalid ? 'Inserisci i dati mancanti' : null"
          class="bg-blue-500 text-white rounded-lg p-2 hover:bg-blue-600 border-0"
          pButton>Continua
  </button>

  <div class="flex flex-col w-full text-center text-sm">
    <p-divider/>
    <p>Oppure <a (click)="login.emit()" class="decoration-blue-500 text-blue-500 underline cursor-pointer">Accedi</a>
    </p>
  </div>
</div>
