<div class="rounded-lg bg-white flex flex-col gap-5 justify-center" style="width: 350px; padding: 0 20px">
  <div class="flex flex-row justify-between items-center">
    <h1 class="text-2xl font-bold text-gray-800">Registrati</h1>
    <p-button (onClick)="cancel.emit()" [rounded]="true" [text]="true" icon="pi pi-times"/>
  </div>
  <p-floatlabel variant="on">
    <input
      [formControl]="usernameFc"
      autocomplete="off"
      class="w-full"
      id="username"
      pInputText/>
    <label for="username">Username</label>
    <p-message *ngIf="usernameFc?.errors?.['email']" severity="error" size="small" variant="simple">Inserisci una mail
      valida
    </p-message>
  </p-floatlabel>
  <p-floatlabel variant="on">
    <p-password
      [formControl]="passwordFc"
      [inputStyleClass]="'w-full'"
      [style]="{'width':'100%'}"
      [toggleMask]="true"
      inputId="passwordRegister"
      mediumLabel="Media"
      promptLabel="Inserisci una password"
      strongLabel="Ottima"
      weakLabel="Debole">
      <ng-template #footer>
        <p-divider/>
        <ul class="pl-2 ml-2 my-0 leading-normal text-xs list-disc">
          <li>Almeno un carattere maiuscolo</li>
          <li>Almeno un carattere minuscolo</li>
          <li>Almeno una cifra</li>
          <li>Minimo 8 caratteri</li>
        </ul>
      </ng-template>
    </p-password>
    <label for="passwordRegister">Password</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
    <p-password [feedback]="false"
                [formControl]="confirmFc"
                [inputStyleClass]="'w-full'"
                [style]="{'width':'100%'}"
                [toggleMask]="true"
                inputId="confirmPasswordRegister"/>
    <label for="confirmPasswordRegister">Conferma Password</label>
    <p-message *ngIf="fg.get('passwordGroup')?.errors?.['match'] && passwordFc.value && confirmFc.value"
               severity="error"
               size="small" variant="simple">Le password non corrispondono
    </p-message>
  </p-floatlabel>
  <button (click)="emitRegister()"
          [disabled]="fg.invalid"
          [pTooltip]="fg.invalid ? 'Inserisci i dati mancanti' : null"
          class="bg-blue-500 text-white rounded-lg p-2 hover:bg-blue-600 border-0"
          pButton>Registrati
  </button>

  <div class="flex flex-col w-full text-center text-sm">
    <p-divider/>
    <p>Oppure <a (click)="login.emit()" class="decoration-blue-500 text-blue-500 underline cursor-pointer">Accedi</a>
    </p>
  </div>
</div>
